{%extends 'base.html'%}
	{% block titulo %}Inscripcion de alumnos	{% endblock titulo %}
	{% block pagina %}{{pagina}} {% endblock pagina %}
	{% block datos_secion %}{{pagina}} {% endblock datos_secion %}
	{% block escript_extras %}
		<script>
			$(function() {
				$( "#id_fnacimiento" ).datepicker({
					changeMonth: true,
					changeYear: true
				});
			});
		</script>
	{% endblock escript_extras %}

	{% block contenido %}
	<div class="inscripcion">
		<form action='' method="post">{%csrf_token%}
			{{formulario.as_p}}
		<input type="submit" value="enviar">
		</form>
	</div>
	{% endblock contenido %}

